@use './mixins.scss' as func;
@import '../../styles/Variables.css';

.about-us {
  color: #fff;
  min-height: 100vh;
  padding-block: func.get-vw(118px);
  background-color: var(--c-primary);

  & .container {
    @include func.mobile {
      padding: 0 32px;
    }
  }

  &__wrapper {
    display: grid;
    // align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: func.get-vw(18px);

    @include func.mobile {
      gap: 6px;
    }
    // @include on-tablet {
    //   grid-template-columns: repeat(8, 1fr);
    //   gap: 18px;
    // }

    // @include on-desktop {
    //   grid-template-columns: repeat(4, 1fr);
    //   gap: 18px;
    // }
  }

  &__graphic {
    position: sticky;
    top: 80px;

    display: flex;
    justify-content: flex-end;
    height: fit-content;

    @include func.mobile {
      display: none;
    }
    // grid-row: 3;

    // @include on-tablet {
    //   grid-column: 2 span;
    //   grid-row: 1;
    // }

    // @include on-desktop {
    //   grid-column: 1 span;
    // }
  }

  &__line {
    position: relative;
    width: func.get-vw(106px);
    max-height: func.get-vw(731px);
    background-color: #fff;

    &::before {
      content: '';
      position: absolute;
      right: func.get-vw(24px);
      top: calc(0px - func.get-vw(31px));
      display: block;
      width: func.get-vw(225px);
      height: func.get-vw(660px);
      background-image: url('../../assets/image/about-us__shadow.png');
    }
  }

  &__links {
    position: sticky;
    top: 80px;

    display: flex;
    flex-direction: column;
    gap: func.get-vw(19px);

    height: fit-content;
    @include func.mobile {
      display: none;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: func.get-vw(106px);
    height: func.get-vw(106px);
    background-color: #fff;
    @media(hover:hover) {
      &:hover {
        background-image: url(../assets/image/hover-dark.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgb(218, 218, 255);
      }
    }
  }

  &__typography {
    grid-column: 2 span;

    // max-height: func.get-vw(770px);

    padding-top: func.get-vw(72px);

    overflow-y: auto;
    scrollbar-width: none;
    @include func.mobile {
      padding-top: 100px;
      grid-column: 1 / -1;
    }
    // &::-webkit-scrollbar {
    //   width: 0px;
    //   height: 0px;
    // }
    // @include on-tablet {
    //   grid-column: 5 span;
    //   padding-top: 72px;
    // }

    // @include on-desktop {
    //   grid-column: 2 span;
    // }

    &-block {
      margin-bottom: clamp(80px, 100vw, get-vw(250px));

      & p:not(:last-of-type) {
        margin-bottom: 18px;
      }
    }
  }

  &__title {
    display: block;
    width: 100%;

    font-family: Jura;
    font-size: func.get-vw(64px);
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: func.get-vw(36px);
    @include func.mobile {
      font-size: 38px;
      margin-bottom: 40px;
    }
  }

  &__text {
    font-size: func.get-vw(24px);
    font-weight: 400;
    line-height: 1.33;

    margin-bottom: func.get-vw(300px);
    @include func.mobile {
      font-size: 16px;
      margin-bottom: 100px;
    }
  }
}

.video {
  background-color: #d9d9d9;

  &__wrapper {
    width: 100vw;
    max-width: 100%;
    aspect-ratio: 16 / 9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.play {
  display: grid;
  place-items: center;
  width: func.get-vw(150px);
  height: func.get-vw(70px);
}

.about-us-description {
  color: white;

  padding-top: func.get-vw(100px);
  padding-bottom: func.get-vw(300px);
  @include func.mobile {
    padding-top: 60px;
    padding-bottom: 180px;
  }

  & .container {
    @include func.mobile {
      padding: 0 32px;
    }
  }

  & .about-us__graphic,
  & .about-us__links {
    display: none;
    @include func.mobile {
      position: relative;
      grid-column: 2 span;
      display: flex;
      margin-bottom: 32px;
    }
  }
  & .temp_shadow {
    @include func.mobile {
      margin-top: calc(0px - func.get-vw(12px, 375));
      width: func.get-vw(91px, 375);
      height: func.get-vw(280px, 375);
    }
  }

  & .about-us__links {
    @include func.mobile {
      row-gap: func.get-vw(8px, 375);
    }
  }
  & .about-us__link {
    width: func.get-vw(38px, 375);
    height: func.get-vw(38px, 375);

    & .icon {
      width: func.get-vw(16px, 375);
      height: func.get-vw(16px, 375);
    }
  }


  & .about-us__typography {
    position: relative;
    overflow: visible;

    grid-column: 3 / -1;
    @include func.mobile {
      grid-column: 1 / -1;

      text-align: center;
    }

    &::after {
    content: '';
    position: absolute;
    top: 100%;
    right: func.get-vw(16px);

    width: func.get-vw(222px);
    height: func.get-vw(188px);
    background-image: url('../assets/image/logoPJATKsingle.png');
    background-repeat: no-repeat;
    background-size: func.get-vw(222px) func.get-vw(188px);
    background-position: center;

    @include func.mobile {
      top: calc(100% + 16px);
      right: 50%;
      transform: translateX(50%);

      width: 100px;
      height: 85px;
      background-size: 100px 85px;
    }
  }

    & p {
      margin-bottom: func.get-vw(24px);
      @include func.mobile {
        font-size: 16px;
        line-height: 1.4;
        text-align: center;
  
        margin-bottom: 24px;
      }
    }
    & ul {
      @include func.mobile {
        margin-bottom: 24px;
      }
    }
  }
}

// Temporary
.temp_shadow {
  width: func.get-vw(250px);
  height: func.get-vw(764px);
  background-image: url(../assets/image/about-us__shadow_image.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: calc(0px - func.get-vw(32px));
}
