@use './mixins.scss' as func;
@import '../../styles/Variables.css';

.about-us {
  color: #fff;
  min-height: 100vh;
  padding-block: func.get-vw(118px);
  background-color: var(--c-primary);

  &__wrapper {
    display: grid;
    // align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: func.get-vw(18px);

    // @include on-tablet {
    //   grid-template-columns: repeat(8, 1fr);
    //   gap: 18px;
    // }

    // @include on-desktop {
    //   grid-template-columns: repeat(4, 1fr);
    //   gap: 18px;
    // }
  }

  &__graphic {
    position: sticky;
    top: 80px;

    display: flex;
    justify-content: flex-end;
    height: fit-content;

    // grid-row: 3;

    // @include on-tablet {
    //   grid-column: 2 span;
    //   grid-row: 1;
    // }

    // @include on-desktop {
    //   grid-column: 1 span;
    // }
  }

  &__line {
    position: relative;
    width: func.get-vw(106px);
    max-height: func.get-vw(731px);
    background-color: #fff;

    &::before {
      content: '';
      position: absolute;
      right: func.get-vw(24px);
      top: calc(0px - func.get-vw(31px));
      display: block;
      width: func.get-vw(225px);
      height: func.get-vw(660px);
      background-image: url('../../assets/image/about-us__shadow.png');
    }
  }

  &__links {
    position: sticky;
    top: 80px;

    display: flex;
    flex-direction: column;
    gap: func.get-vw(19px);

    height: fit-content;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: func.get-vw(106px);
    height: func.get-vw(106px);
    background-color: #fff;
    @media(hover:hover) {
      &:hover {
        background-image: url(../assets/image/hover-dark.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgb(218, 218, 255);
      }
    }
  }

  &__typography {
    grid-column: 2 span;

    // max-height: func.get-vw(770px);

    padding-top: func.get-vw(72px);

    overflow-y: auto;
    scrollbar-width: none;

    // &::-webkit-scrollbar {
    //   width: 0px;
    //   height: 0px;
    // }
    // @include on-tablet {
    //   grid-column: 5 span;
    //   padding-top: 72px;
    // }

    // @include on-desktop {
    //   grid-column: 2 span;
    // }

    &-block {
      margin-bottom: clamp(80px, 100vw, get-vw(250px));

      & p:not(:last-of-type) {
        margin-bottom: 18px;
      }
    }
  }

  &__title {
    width: 100%;

    font-family: Jura;
    font-size: func.get-vw(64px);
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: func.get-vw(36px);
  }

  &__text {
    font-size: func.get-vw(24px);
    font-weight: 400;
    line-height: 1.33;
  }
}

.video {
  background-color: #d9d9d9;

  &__wrapper {
    width: 100vw;
    aspect-ratio: 16 / 9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.play {
  display: grid;
  place-items: center;
  width: func.get-vw(150px);
  height: func.get-vw(70px);
}

// Temporary
.temp_shadow {
  width: func.get-vw(250px);
  height: func.get-vw(764px);
  background-image: url(../assets/image/about-us__shadow_image.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: calc(0px - func.get-vw(32px));
}
