@use './mixins.scss' as func;

.details {
  margin-bottom: func.get-vw(177px);

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: func.get-vw(18px);
  }

  &__content {
    grid-column: 2 / 4;

    padding-top: func.get-vw(95px);
  }

  &__title,
  &__title-shadow {
    font-size: func.get-vw(128px);
    font-weight: 400;
    margin-left: calc(0px - func.get-vw(12px));
    margin-bottom: calc(0px - func.get-vw(17px));
  }

  &__title-shadow {
    font-family: Jura;
    font-weight: 400;

    position: absolute;
    top: calc(0px - func.get-vw(145px));
    left: 0;
    width: max-content;
    height: max-content;
  }

  &__info {
    aspect-ratio: 1.15;
    position: relative;
    overflow: hidden;

    color: #fff;
    background-color: var(--c-primary);

    padding-top: func.get-vw(106px);
    padding-inline: func.get-vw(70px);
    padding-bottom: func.get-vw(84px);

    & h2 {
      font-size: func.get-vw(40px);
      font-weight: 400;
      margin-bottom: func.get-vw(40px);
    }

    & p {
      font-size: func.get-vw(24px);
      font-weight: 400;
      line-height: 1.33;
    }
  }

  &__line {
    position: absolute;
    background-repeat: no-repeat;

    &--position {
      bottom: calc(0px - func.get-vw(55px));
      left: 0;

      display: block;
      width: func.get-vw(40px);
      height: func.get-vw(870px);
      background-image: url(../assets/image/position-shadow.png);
    }

    &--eyes {
      bottom: calc(0px - func.get-vw(4px));
      left: calc(0px - func.get-vw(30px));

      display: block;
      width: func.get-vw(870px);
      height: func.get-vw(40px);
      background-image: url(../assets/image/eyes-shadow.png);
    }

    &--breathing {
      bottom: 0;
      right: calc(0px - func.get-vw(1px));

      display: block;
      width: func.get-vw(40px);
      height: func.get-vw(870px);
      background-image: url(../assets/image/breathing-shadow.png);
    }

    &--mind {
      bottom: calc(0px - func.get-vw(1px));
      right: calc(0px - func.get-vw(20px));

      display: block;
      width: func.get-vw(870px);
      height: func.get-vw(40px);
      background-image: url(../assets/image/mind-shadow.png);
    }

    &--time {
      top: 0;
      left: calc(0px - func.get-vw(20px));

      display: block;
      width: func.get-vw(870px);
      height: func.get-vw(40px);
      background-image: url(../assets/image/mind-shadow.png);
      transform: rotate(180deg);
    }

    &--end {
      bottom: calc(0px - func.get-vw(55px));
      left: 0;

      display: block;
      width: func.get-vw(40px);
      height: func.get-vw(870px);
      background-image: url(../assets/image/position-shadow.png);
    }
  }
}
