.footer {
  margin-bottom: 32px;
}
.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}
.footer__image {
  grid-column: 2 / 3;

  display: flex;
  justify-content: flex-end;
}
