@use './mixins.scss' as func;

.footer {
  margin-bottom: func.get-vw(32px);

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: func.get-vw(18px);
  }

  &__image {
    // grid-column: 2 / 3;
    width: func.get-vw(250px);

    display: flex;
    justify-content: flex-end;

    @include func.mobile {
      width: func.get-vw(90px,375);
      justify-content: unset;
    }
  }

  &__links {
    padding-top: func.get-vw(32px);
    display: flex;
    flex-direction: column;
    gap: func.get-vw(20px);
    @include func.mobile {
      padding-top: func.get-vw(12px,375);
      gap: func.get-vw(8px,375);
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: func.get-vw(106px);
    height: func.get-vw(106px);
    background-color: var(--c-primary);
    @include func.mobile {
      width: func.get-vw(38px,375);
      height: func.get-vw(38px,375);
    }

    &:hover {
      background-image: url(../assets/image/hover-light.png);
      background-size: cover;
      background-position: -6px -1px;
    }
    & .icon {
      background-color: #fff;
      @include func.mobile {
        width: func.get-vw(16px,375);
        height: func.get-vw(16px,375);
      }
    }
  }
}
