@use './mixins.scss' as func;

.footer {
  margin-bottom: func.get-vw(32px);

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: func.get-vw(18px);
  }

  &__image {
    grid-column: 2 / 3;

    display: flex;
    justify-content: flex-end;
  }

  &__links {
    padding-top: func.get-vw(32px);
    display: flex;
    flex-direction: column;
    gap: func.get-vw(20px);
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: func.get-vw(106px);
    height: func.get-vw(106px);
    background-color: var(--c-primary);
    &:hover {
      background-image: url(../assets/image/hover-light.png);
      background-size: cover;
      background-position: -6px -1px;
    }
    & .icon {
      background-color: #fff;
    }
  }
}
