@mixin grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

@mixin mobile {
  @media (max-width: 1024px) {
    @content;
  }
}

@function get-vw($target, $base-width: 1920) {
    $vw-context: (
        $base-width * 0.01) * 1px;
    @return calc(($target / $vw-context) * 1vw
  );
}
