.modal {
  z-index: var(--z-modal);

  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  position: fixed;
  inset: 0;
  background-color: var(--c-primary);

  // transition: all 0.3s ease;

  &.active {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }

  & .link-box {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;

    left: auto;
    right: 16px;
    background-color: #fff;
  }

  &--about,
  &--details {
    &.active {
      overflow-y: auto;
      max-height: 100vh;
    }
  }

  &--details {
    background-color: #fff;
      & .link-box {
        background-color: var(--c-primary);
      }
  }
}
