@use '../../styles/mixins.scss' as func;

/* #region Hero section */
.hero {
  padding-top: func.get-vw(156px);
  margin-bottom: func.get-vw(62px);
}
/* @media (min-width: 500px) {
  .hero {
    padding-top: 156px;
    margin-bottom: 62px;
  }
} */
.hero__wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: func.get-vw(18px);
}
.hero__image {
  grid-column: 2 span;
}
.hero__image img {
  width: 100%;
  max-width: fit-content;
  display: flex;
  padding-right: func.get-vw(58px);
  margin-left: auto;
}
.hero__typography {
  grid-column: 1 span;
}
.hero__title {
  position: relative;
  width: min-content;
  font-size: func.get-vw(128px);
  font-weight: 400;
}
.hero__subtitle {
  font-size: func.get-vw(40px);
  font-weight: 400;
  text-align: right;
}
/* #endregion */

/* #region About section */
.about {
  margin-bottom: func.get-vw(162px);
}
.about__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: func.get-vw(18px);
}
.about__line {
  grid-column: 2 span;
  display: flex;
  justify-content: flex-end;
}
.about__typography {
  grid-column: 2 span;
}
.about__typography p {
  max-width: 65%;
}
/* #endregion */

/* #region Step Position */
.steps {
  display: grid;
  gap: 334px;
  padding-top: 94px;
  margin-bottom: 240px;
}

.step {
  &:hover {
    background-color: rgb(252 252 252);
  }
}
.step__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}
.step__image {
  grid-column: 1 span;
}
.step__typography {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.steps > div:nth-child(4n + 1) .step__typography {
  grid-column: 2 / 3;
}
.steps > div:nth-child(4n + 2) .step__typography,
.steps > div:nth-child(4n + 4) .step__typography {
  grid-column: 3 / 4;
}
.steps > div:nth-child(4n + 3) .step__typography {
  grid-column: 4 / 5;
}
.steps > div:nth-child(4n + 1) .step__image {
  grid-column: 1 / 2;
}
.steps > div:nth-child(4n + 2) .step__image,
.steps > div:nth-child(4n + 4) .step__image {
  grid-column: 2 / 3;
}
.steps > div:nth-child(4n + 3) .step__image {
  grid-column: 3 / 4;
}
.steps > div:nth-child(4n + 1) .step__image {
  transform: rotate(0deg);
}
.steps > div:nth-child(4n + 2) .step__image {
  transform: rotate(90deg);
}
.steps > div:nth-child(4n + 3) .step__image {
  transform: rotate(180deg);
}
.steps > div:nth-child(4n + 4) .step__image {
  transform: rotate(270deg);
}
.step__title {
  font-size: 128px;
  font-weight: 400;
  line-height: 1;
  margin-top: -25px;
}
.step__subtitle {
  font-size: 40px;
  font-weight: 400;
  display: flex;
  justify-content: flex-end;
}
/* #endregion */


// #region test
// * {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }
// body {
//   border: 1px solid red;
// }
.wrapper {
  position: fixed;
  width: 100vw;
  height: 62vw;
  @include func.mobile {
    height: 100vh;
  }

  &:has([data-footer-desc="9"]) {
    @include func.mobile {
      overflow-y: auto;
    }
  }
}

.link-box {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: func.get-vw(16px);
  left: func.get-vw(16px);
  width: func.get-vw(28px);
  height: func.get-vw(28px);
  border-radius: 2px;
  background-color: #4D4D4D;
  transition: all 1s ease;
  @include func.mobile {
  top: 12px;
  left: 12px;
  width: 20px;
  height: 20px;
  }
}

.frame {
  aspect-ratio: 1;
  position: absolute;
  width: 61.771vw;
  transition: all 1s ease;
  @include func.mobile {
    width: func.get-vw(375px, 375);
    height: func.get-vw(375px, 375);
    aspect-ratio: unset;
  }

  &[data-frame-pos="-9"],
  &[data-frame-pos="-8"],
  &[data-frame-pos="-7"],
  &[data-frame-pos="-6"],
  &[data-frame-pos="-5"],
  &[data-frame-pos="-4"],
  &[data-frame-pos="-3"],
  &[data-frame-pos="-2"] {
    display: none;
  }
  &[data-frame-pos="-1"] {
    top: calc(62vw + 100vh);
    left: 0;
    background-color: #CCCCCC;

    @include func.mobile {
      top: 0;
      left: calc(0px - 100vw);
    }
  }
  &[data-frame-pos="0"] {
    top: 62vw;
    left: 0;
    background-color: #CCCCCC;

    @include func.mobile {
      top: 0;
      left: calc(0px - 100vw);
    }
  }
  &[data-frame-pos="1"] {
    top: 0;
    left: 0;
    transform: scale(1) rotate(0deg);

    background-color: #fff;

    & .noise {
      opacity: 0;
    }

    & .link-box {
      opacity: 1;
      pointer-events: all;
      transition: all 1s ease;
      cursor: pointer;
    }
    & .frame__pagination-next,
    & .frame__pagination-prev {
      left: 0%;
      transition: all 1s ease;
    }

    // @include func.mobile {
    // }
  }
  &[data-frame-pos="2"] {
    top: calc(0vw - calc(62vw - 62vw * 0.61) / 2);
    left: calc(62vw - calc(62vw - 62vw * 0.61) / 2);
    transform: scale(0.61889) rotate(90deg);

    background-color: #F2F2F2;

    @include func.mobile {
      top: 80.93vw;
      left: 18.8vw;
    }
  }
  &[data-frame-pos="3"] {
    top: 18.8vw;
    left: 57.22vw;
    transform: scale(0.38111) rotate(180deg);

    background-color: #E6E6E6;

    @include func.mobile {
      top: 92.8vw;
      left: -31vw;
    }
  }
  &[data-frame-pos="4"] {
    top: 23.4vw;
    left: 38.1vw;
    transform: scale(0.23777) rotate(270deg);

    background-color: #D9D9D9;

    @include func.mobile {
      top: 61.8vw;
      left: -38.53vw;
    }
  }
  &[data-frame-pos="5"] {
    top: 11.5vw;
    left: 35.44vw;
    transform: scale(0.14671) rotate(360deg);

    background-color: #CCCCCC;

    @include func.mobile {
      top: 57.3vw;
      left: -19.3vw;
    }
  }
  &[data-frame-pos="6"] {
    top: 9.8vw;
    left: 42.7vw;
    transform: scale(0.09106) rotate(450deg);

    background-color: #BFBFBF;

    @include func.mobile {
      top: 69.2vw;
      left: -16.6vw;
    }
  }
  &[data-frame-pos="7"] {
    top: 14.3vw;
    left: 43.8vw;
    transform: scale(0.05565) rotate(540deg);

    background-color: #B3B3B3;

    @include func.mobile {
      top: 70.8vw;
      left: -23.7vw;
    }
  }
  &[data-frame-pos="8"] {
    top: 15vw;
    left: 41vw;
    transform: scale(0.03541) rotate(630deg);

    background-color: #A6A6A6;

    @include func.mobile {
      top: 66.5vw;
      left: -24.7vw;
      opacity: 0.5;
    }
  }
  &[data-frame-pos="9"] {
    top: 13.25521vw;
    left: 40.59vw;
    transform: scale(0.02108) rotate(720deg);

    background-color: #999999;

    @include func.mobile {
      top: 66.5vw;
      left: -22vw;
      opacity: 0.25;
    }
  }

  &[data-frame-pos="0"],
  &[data-frame-pos="2"],
  &[data-frame-pos="3"],
  &[data-frame-pos="4"],
  &[data-frame-pos="5"],
  &[data-frame-pos="6"],
  &[data-frame-pos="7"],
  &[data-frame-pos="8"],
  &[data-frame-pos="9"] {
    pointer-events: none;
  }

  & .link-box__title {
    left: 0;
    right: auto;
  }

  &__wrapper {
    display: flex;
    column-gap: func.get-vw(60px);
    width: 100%;
    padding-top: func.get-vw(160px);
    padding-inline: func.get-vw(108px);
    @include func.mobile {
      column-gap: 20px;
      padding-top: 64px;
      padding-inline: 32px;
    }
  }
  &__picture {
    width: func.get-vw(458px);
    @include func.mobile {
      width: func.get-vw(151px,375);
    }
  }
  &__image {
    width: 100%;
    object-fit: contain;
  }

  &__title {
    color: #4D4D4D;
    // font-size: func.get-vw(108px);
    font-size: func.get-vw(76px);
    font-weight: 400;
    line-height: 0.9;

    height: func.get-vw(165px);
    margin-bottom: func.get-vw(24px);

    @include func.mobile {
      font-size: func.get-vw(35px, 375);

      height: unset;
    }
  }
  &__subtitle {
    font-family: Inter;
    color: var(--c-primary);
    font-size: func.get-vw(34px);
    font-weight: 400;
    text-align: right;

    @include func.mobile {
      font-size: func.get-vw(11px, 375);
    }
  }

  &__step {
    display: flex;
    column-gap: func.get-vw(4px);
    padding-inline: func.get-vw(14px);
    width: 100%;
    @include func.mobile {
      column-gap: 2px;
      padding-inline: 0;
    }
  }

  &__typography {
    flex: 1;
  }

  &__pagination {
    position: absolute;
    top: calc(62%);
    left: calc(100% - func.get-vw(108px) - func.get-vw(108px));
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: func.get-vw(108px);
    height: func.get-vw(174px);
    overflow: hidden;
    @include func.mobile {
      // top: ;
      left: auto;
      right: 32px;
      width: 48px;
      height: 81px;
    }

    &-next,
    &-prev {
      cursor: pointer;

      display: grid;
      place-items: center;
      width: func.get-vw(108px);
      height: func.get-vw(86px);
      background-color: var(--c-primary);
      border-radius: 4px;

      position: absolute;
      left: 100%;
      transition: all 1s ease;

      @include func.mobile {
        width: 48px;
        height: 40px;
      }
    }
    &-arrow {
      width: func.get-vw(50px);
      height: func.get-vw(16px);
      @include func.mobile {
        width: 21px;
        height: auto;
      }
    }
    &-prev {
      bottom: 0;
      transform: rotate(180deg);
    }
  }
}
.frame--1 {
  z-index: 10;

  & .frame__wrapper {
    align-items: center;
  }
  & .frame__picture {
    max-width: func.get-vw(512px);
    @include func.mobile {
      max-width: 43.735vw;
    }
  }
  & .frame__pagination-prev {
    display: none;
  }
}
.frame--2 {
  z-index: 9;

  & .frame__wrapper {
    column-gap: func.get-vw(20px);
    @include func.mobile {
      column-gap: func.get-vw(8px, 375);
    }
  }
  & .frame__picture {
    flex-shrink: 0;
    width: func.get-vw(32px);
    height: func.get-vw(690px);
    @include func.mobile {
      width: func.get-vw(12px, 375);
      height: func.get-vw(243px, 375);
    }
  }
  & .frame__typography {
    padding-top: func.get-vw(18px);
  }
  & .frame__text {
    // color: var(--c-primary);
    font-family: Inter;
    font-size: func.get-vw(34px);
    font-weight: 400;
    line-height: 1.2;
    @include func.mobile {
      font-size: func.get-vw(12px, 375);
    }
  }
}
.frame--3 {
  z-index: 8;

  // & .frame__show-more {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // row-gap: func.get-vw(16px);
    // width: fit-content;
    // margin-left: auto;
    // @media (hover:hover) {
    //   &:hover {
    //     cursor: pointer;

    //     & .frame__icon {
    //       .svg {
    //         cursor: pointer;
    //       }
    //       .svg--eye-closed {
    //         opacity: 0;
    //       }
    //       .svg--eye-opened {
    //         opacity: 1;
    //       }
    //     }
    //   }
    // }
    // @include func.mobile {
    //   row-gap: func.get-vw(16px,375);
    // }
    // &-label {
      // font-family: Inter;
      // color: var(--c-primary);
      // font-size: func.get-vw(40px);
      // font-weight: 400;
      // line-height: 1;
      // @include func.mobile {
      //   font-size: func.get-vw(13px,375);
      // }
  //   }
  // }
  // & .frame__icon {
  //   position: relative;
  //   width: func.get-vw(80px);
  //   height: func.get-vw(80px);
  //   @include func.mobile {
  //     width: func.get-vw(26px,375);
  //     height: func.get-vw(26px,375);
  //   }
  //   & svg {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: auto;
  //     // aspect-ratio: 1;
  //   }
  // }
  // & .frame__typography {
  //   display: flex;
  //   flex-direction: column;
  // }
  // & .frame__step-title {
  //   font-family: Jura;
  //   color: var(--c-primary);
  //   font-size: func.get-vw(128px);
  //   font-weight: 400;
  //   line-height: 1;

  //   margin-top: calc(0px - func.get-vw(30px));
  //   @include func.mobile {
  //     font-size: func.get-vw(42px,375);
  //     margin-top: calc(0px - func.get-vw(10px,375));
  //   }
  // }
  // & .frame__step-text {
  //   font-family: Inter;
  //   color: var(--c-primary);
  //   font-size: func.get-vw(24px);
  //   line-height: 1;
  //   margin-block: auto -4px;
  //   @include func.mobile {
  //     font-size: func.get-vw(8px,375);
  //     margin-block: auto 0;
  //   }
  // }
}
.frame--3,
.frame--4,
.frame--5,
.frame--6,
.frame--7,
.frame--8,
.frame--9 {
  & .frame__show-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: func.get-vw(16px);
    width: fit-content;
    margin-left: auto;
    padding-top: func.get-vw(20px);
    @media (hover:hover) {
      &:hover {
        cursor: pointer;

        & .frame__icon {
          .svg {
            cursor: pointer;
          }
          .svg--eye-closed {
            opacity: 0;
          }
          .svg--eye-opened {
            opacity: 1;
          }
        }
      }
    }
    @include func.mobile {
      row-gap: func.get-vw(16px,375);
        & .frame__icon {
          .svg--eye-closed {
            opacity: 0;
          }
          .svg--eye-opened {
            opacity: 1;
          }
        }
    }

    &-label {
      font-family: Inter;
      color: var(--c-primary);
      font-size: func.get-vw(40px);
      font-weight: 400;
      line-height: 1;
      @include func.mobile {
        font-size: func.get-vw(13px,375);
      }
    }
  }
  & .frame__icon {
    position: relative;
    width: func.get-vw(80px);
    height: func.get-vw(80px);
    @include func.mobile {
      width: func.get-vw(26px,375);
      height: func.get-vw(26px,375);
    }
    & svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      // aspect-ratio: 1;
    }
  }
  & .frame__typography {
    display: flex;
    flex-direction: column;
  }
  & .frame__step-title {
    font-family: Jura;
    color: var(--c-primary);
    font-size: func.get-vw(128px);
    font-weight: 400;
    line-height: 1;

    margin-top: calc(0px - func.get-vw(30px));
    @include func.mobile {
      font-size: func.get-vw(42px,375);
      margin-top: calc(0px - func.get-vw(10px,375));
    }
  }
  & .frame__step-text {
    font-family: Inter;
    color: var(--c-primary);
    font-size: func.get-vw(24px);
    line-height: 1;
    margin-block: auto -4px;
    @include func.mobile {
      font-size: func.get-vw(8px,375);
      margin-block: auto 0;
    }
  }
}
.frame--4 {
  z-index: 7;

  & .frame__picture {
    transform: rotate(90deg);
  }
  // & .frame__show-more {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   row-gap: func.get-vw(16px);
  //   width: fit-content;
  //   margin-left: auto;
  //   @media (hover:hover) {
  //     &:hover {
  //       cursor: pointer;

  //       & .frame__icon {
  //         .svg {
  //           cursor: pointer;
  //         }
  //         .svg--eye-closed {
  //           opacity: 0;
  //         }
  //         .svg--eye-opened {
  //           opacity: 1;
  //         }
  //       }
  //     }
  //   }
  //   &-label {
  //     font-family: Inter;
  //     color: var(--c-primary);
  //     font-size: func.get-vw(40px);
  //     font-weight: 400;
  //     line-height: 1;
  //     @include func.mobile {
  //       font-size: func.get-vw(13px,375);
  //     }
  //   }
  // }
  // & .frame__icon {
  //   position: relative;
  //   width: func.get-vw(80px);
  //   height: func.get-vw(80px);
  //   & .svg {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: auto;
  //     // aspect-ratio: 1;
  //   }
  // }
  // & .frame__typography {
  //   display: flex;
  //   flex-direction: column;
  // }
  // & .frame__step-title {
  //   font-family: Jura;
  //   color: var(--c-primary);
  //   font-size: func.get-vw(128px);
  //   font-weight: 400;
  //   line-height: 1;

  //   margin-top: calc(0px - func.get-vw(30px));
  // }
  // & .frame__step-text {
  //   font-family: Inter;
  //   color: var(--c-primary);
  //   font-size: func.get-vw(24px);
  //   line-height: 1;
  //   margin-block: auto -4px;
  // }
}
.frame--5 {
  z-index: 6;

  & .frame__picture {
    transform: rotate(180deg);
  }
  // & .frame__show-more {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   row-gap: func.get-vw(16px);
  //   width: fit-content;
  //   margin-left: auto;
  //   @media (hover:hover) {
  //     &:hover {
  //       cursor: pointer;

  //       & .frame__icon {
  //         .svg {
  //           cursor: pointer;
  //         }
  //         .svg--eye-closed {
  //           opacity: 0;
  //         }
  //         .svg--eye-opened {
  //           opacity: 1;
  //         }
  //       }
  //     }
  //   }
  //   &-label {
  //     font-family: Inter;
  //     color: var(--c-primary);
  //     font-size: func.get-vw(40px);
  //     font-weight: 400;
  //     line-height: 1;
  //   }
  // }
  // & .frame__icon {
  //   position: relative;
  //   & .svg {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     aspect-ratio: 1;
  //   }
  // }
  // & .frame__typography {
  //   display: flex;
  //   flex-direction: column;
  // }
  & .frame__step-title {
    // font-family: Jura;
    // color: var(--c-primary);
    // font-size: func.get-vw(100px);
    // font-weight: 400;
    // line-height: 1;

    // margin-top: calc(0px - func.get-vw(20px));
    // margin-bottom: func.get-vw(23px);

    // @include func.mobile {
    //   font-size: func.get-vw(34px,375);

    //   margin-top: calc(0px - func.get-vw(8px,375));
    // }
  }
  // & .frame__step-text {
  //   font-family: Inter;
  //   color: var(--c-primary);
  //   font-size: func.get-vw(24px);
  //   line-height: 1;
  //   margin-block: auto -4px;
  // }
}
.frame--6 {
  z-index: 5;

  & .frame__picture {
    transform: rotate(270deg);
  }
}
.frame--7 {
  z-index: 4;
}
.frame--8 {
  z-index: 3;

  & .frame__picture {
    transform: rotate(90deg);
  }

  & .frame__step-title {
    font-size: func.get-vw(80px);

    margin-top: calc(0px - func.get-vw(16px));
    @include func.mobile {
      font-size: func.get-vw(30px,375);
      margin-top: calc(0px - func.get-vw(16px));
    }
  }
}
.frame--9 {
  z-index: 2;

  & .frame__socials {
    display: flex;
    column-gap: func.get-vw(16px);
    max-height: func.get-vw(768px);

    @include func.mobile {
    column-gap: func.get-vw(6px,375);
    max-height: func.get-vw(280px,375);
    }
  }

  // & .frame__typography {
  //   display: flex;
  //   flex-direction: column;
  // }
  // & .frame__step-title {
  //   font-family: Jura;
  //   color: var(--c-primary);
  //   font-size: func.get-vw(128px);
  //   font-weight: 400;
  //   line-height: 1;

  //   margin-top: calc(0px - func.get-vw(30px));
  // }
  // & .frame__step-text {
  //   font-family: Inter;
  //   color: var(--c-primary);
  //   font-size: func.get-vw(24px);
  //   line-height: 1;
  //   margin-block: auto -4px;
  // }
}

.footer-description {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transform: translateY(50%);

  display: flex;
  flex-direction: column;
  padding-top: func.get-vw(192px);
  padding-inline: func.get-vw(130px);
  width: func.get-vw(734px);
  transition: all 1s ease;

  &[data-footer-desc="9"] {
    opacity: 1;
    transform: translateY(0%);
  }

  @include func.mobile {
    top: func.get-vw(375px, 375);
    left: 0;
    right: auto;

    width: 100%;
    padding-top: 60px;
    padding-inline: 32px;
  }

  &::after {
    content: '';
    position: absolute;
    top: calc(100% + func.get-vw(80px));
    right: func.get-vw(107px);

    width: func.get-vw(222px);
    height: func.get-vw(188px);
    background-image: url('../../assets/image/logoPJATKsingle.png');
    background-repeat: no-repeat;
    background-size: func.get-vw(222px) func.get-vw(188px);
    background-position: center;

    @include func.mobile {
      top: 100%;
      right: 24px;

      width: 100px;
      height: 85px;
      background-size: 100px 85px;
    }
  }

  &__title {
    font-family: Inter;
    color: white;
    font-size: func.get-vw(32px);
    font-weight: 500;
    line-height: 1;

    margin-bottom: func.get-vw(24px);
    @include func.mobile {
      font-size: 18px;
      margin-bottom: 12px;
    }
  }

  & p {
    font-family: Inter;
    color: white;
    font-size: func.get-vw(24px);
    font-weight: 400;
    line-height: 1.2;

    margin-bottom: func.get-vw(56px);
    @include func.mobile {
      font-size: 16px;
      margin-bottom: 32px;
    }
  }

  &__list {
    color: white;
    font-size: func.get-vw(24px);
    font-weight: 400;
    line-height: 1.2;

    margin-bottom: func.get-vw(24px);
    @include func.mobile {
      font-size: 16px;

      margin-bottom: 12px;
    }
  }
}

.svg {
  transition: all 0.3s ease;

  &--eye-closed {
    opacity: 1;
  }
  &--eye-opened {
    opacity: 0;
  }
}
// #endregion test

// #region
// .screen {
//   &--1 {
//     width: 100%;
//   }
//   &--2 {
//     width: 38%;
//   }
// }

// .frame {
//   position: relative;
//   aspect-ratio: 1;
//   max-width: 62%;
//   height: fit-content;
//   max-height: 100vh;
//   padding: 16px;
//   border-right: 2px solid #4D4D4D;
//   background-color: #fff;

//   display: inline-block;

//   // &--2 {
//   //   max-width: 38%;
//   // }
//   // &--3 {
//   //   max-width: 19%;
//   // }

//   &__wrapper {
//     display: flex;
//     align-items: center;
//     column-gap: 60px;
//     width: 100%;
//     padding-top: calc(160px - 16px);
//     padding-inline: calc(108px - 16px);
//   }
//   &__picture {
//   }
//   &__image {
//     width: 100%;
//     object-fit: contain;
//   }

//   &__title {
//     color: #4D4D4D;
//     font-size: 108px;
//     font-weight: 400;
//     line-height: 0.9;
//   }
//   &__subtitle {
//     color: var(--c-primary);
//     font-size: 34px;
//     font-weight: 400;
//     text-align: right;
//   }

//   &__pagination {
//     position: absolute;
//     top: calc(50% + 100px);
//     left: calc(100% - 108px - 108px);
//     display: flex;
//     flex-direction: column;
//     gap: 2px;

//     &-next,
//     &-prev {
//       display: grid;
//       place-items: center;
//       width: 108px;
//       height: 86px;
//       background-color: #4D4D4D;
//       border-radius: 4px;
//     }
//     &-arrow {
//       width: 50px;
//       height: 16px;
//     }
//     &-prev {
//       transform: rotate(180deg);
//     }
//   }
// }
// #endregion